.description{
  text-align: center;
  max-width: 1060px;
  width: 100%;
  margin: 0 auto 50px;
  h3{
    font-size: 18px;
  }
}
main{
  .button-with-arrow{
    display: flex;
    max-width: 300px;
    margin: 0 auto 50px;
    position: relative;
    z-index: 2;
    button{
      min-width: 270px;
      height: auto;
      padding: 17px;
      border-radius: 26px;
    }
    span{
      width: 44px;
      height: 44px;
    }
  }
}
.search-block-news{
  position: relative;
  margin-bottom: 60px;
  position: relative;
  z-index: 2;
  input{
    width: 100%;
    height: 50px;
    padding: 20px 50px 20px 20px;
    border-radius: 25px;
    background-color: #f5f2f0;
    font-weight: 600;
    border: none;
    &::placeholder{
      font-weight: 600;
      color: #908f91;
    }
  }
  button{
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}
.tabs-faq{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 45px;
  position: relative;
  z-index: 2;
  position: relative;
  z-index: 2;
  p{
    max-width: 256px;
    width: 100%;
    min-height: 50px;
    border-radius: 25px;
    background-color: #f5f2f0;
    margin-bottom: 12px;
    text-align: center;
    color: #231f20;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    &:hover{
      color: var(--blue-color);
    }
  }
  .active-tab-faq{
    background: var(--blue-color);
    color: #ffffff;
    &:hover{
      color:  #ffffff;
    }
  }
}

.one-quest{
  padding-bottom: 30px;
  border-bottom: 1px solid #908f91;
  margin-bottom: 30px;
  position: relative;
  z-index: 2;
  .crumbs-quest{
    margin-bottom: 15px;
    padding-top: 0;
  }
  .title{
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    &:hover{
      color: var(--blue-color);
    }
  }
  .hidden-part-quest{
    display: none;
    padding-top: 35px;
    .photo-name{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 30px;
      img{
        border-radius: 50%;
        margin-right: 15px;
        max-width: 88px;
        width: 100%;
      }
      .name-block{
        span{
          font-size: 14px;
          color: #231f20;
          display: block;
          margin-bottom: 20px;
        }
        h5{
          text-transform: uppercase;
          font-weight: 700;
          font-size: 14px;
          margin-bottom: 5px;
        }
        h6{
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
    p{
      font-size: 13px;
      padding-right: 20px;
    }
  }
}
.open-quest{
  .hidden-part-quest{
    display: block;
  }
}
.pagination{
  margin-bottom: 50px;
  margin-top: 55px;
}
.bottom-link{
  position: relative;
  z-index: 2;
  padding-bottom: 50px;
  border-bottom: 1px solid #231f20;
  a{
    display: inline-flex;
    flex-wrap: nowrap;
    max-width: 100%;
    justify-content: flex-start;
    max-width: 210px;
    align-items: center;
    span{
      color: #908f91;
      font-size: 14px;
      text-decoration: underline;
    }
    img{
      margin-left: 10px;
    }
  }
}

@media (min-width: 1024px) {
  .all-faq{
    position: relative;
    overflow: hidden;
    &:before, &:after{
      position: absolute;
      z-index: 0;
      content: '';
    }
    &:before{
      background: url('../img/right-faq.png') no-repeat ;
      width: 1279px;
      height: 1630px;
      background-size: contain;
      top: 10%;
      right: -30%;
    }
    &:after{
      bottom: 0%;
      background: url('../img/left-faq.png') no-repeat;
      background-size: contain;
      left: -14%;
      width: 832px;
      height: 1200px;
    }
  }
  .bottom-link{
    text-align: right;
    a{
      max-width: 100%;
    }
  }
}