.top-banner{
  position: relative;
  overflow-y: hidden;
  &:before{
    content: '';
    background: url('../img/banner-mob.png') no-repeat;
    background-size: cover;
    background-position: 32% 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 480px;
  }
  .content-banner{
    padding-top: 75px;
    overflow-y: hidden;
    h1{
      margin: 0;
      font-size: 25px;
      margin-bottom: 20px;
      max-width: 600px;
      font-family: var(--font-baeu);
      span{
        text-transform: uppercase;
        display: block;
        font-family: var(--font-baeu);
      }
    }
    .text-with-button{
      padding-bottom: 100px;
      p{
        font-size: 20px;
        margin-bottom: 70px;
        max-width: 344px;
        font-style: italic;
      }
      .two-buttons{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .open-video{
          margin-right: 55px;
          width: 52px;
          height: 52px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-size: contain;
          background: url('../img/buton_round_line.png') no-repeat 50% 50%;
          cursor: pointer;
          span{
            position: relative;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
              z-index: 5;
            }
            &:before{ 
              content: '';
              position: absolute;
              border-radius: 50%;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              margin: auto;
              width: 40px;
              height: 40px;
              box-shadow: 0 6px 32px rgba(0, 0, 0, 0.18);
              background-image: linear-gradient(to right, #00aedb 0%, #aee5ff 83%, #aee5ff 100%);
              transition: 0.5s;
            }
          }
          &:hover{
            span{
              &:before{
                transform: rotate(180deg);
              }
            }
          }
        }
        .button-with-arrow{
          button{
            height: auto;
            padding: 17px 10px;
            border-radius: 26px;
          }
          span{
            width: 44px;
            min-width: 44px;
            height: 44px;
          }
        }
      }
    }
    h2{
      text-align: center;
      margin-bottom: 25px;
    }
    .often-order{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;
      .one-order{
        margin-bottom: 40px;
        max-width: 270px;
        width: 100%;
        .image-order{
          width: 87px;
          height: 1px;
          border-bottom: 1px solid var(--black-text);
          height: 54px;
          position: relative;
          margin-bottom: 20px;
          &:before{
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 27px;
            height: 3px;
            background: var(--blue-color)
          }
        }
        h5{
          font-weight: 300;
          margin-bottom: 20px;
          font-size: 18px;
          span{
            font-weight: 700;
          }
        }
        a{
          color: var(--gray-color);
          font-weight: 700;
          text-decoration: underline;
          font-size: 14px;
          i{
            font-size: 8px;
            margin-left: 3px;
            color: var(--gray-color);
          }
          &:hover{
            color: var(--blue-color);
            i{
              color: var(--blue-color);
            }
          }
        }
      }
    }
  }
}

.our-advantages{
  margin-bottom: 70px;
  .heading{
    &:before{
      content: '03';
    }
  }
  .slider-advantages{
    width: 100%;
    .one-advantage{
      padding: 25px 15px 5px 0;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      max-width: 525px;
      width: 100%;
      position: relative;
      margin: 0 auto;
      &:before{
        content: '';
        width: 120px;
        height: 250px;
        max-height: 100%;
        top: 0;
        left: 20px;
        position: absolute;
        z-index: 0;
        background: url('../img');
      }
      img{
        margin-right: 20px;
        position: relative;
        z-index: 1;
      }
      &:nth-child(odd){
        margin-bottom: 50px;
      }
      .right-text{
        position: relative;
        z-index: 1;
        h5{
          font-size: 22px;
          margin-bottom: 40px;
          a{
            color: var(--blue-color);
            text-decoration: underline;
          }
        }
        p{
          font-size: var(--fz18);
          font-weight: 300;
        }
      }
    }
    .f-adv{
      &:before{
        background: url('../img/bg1.png');
      }
    }
    .s-adv{
      &:before{
        background: url('../img/bg2.png');
      }
    }
    .t-adv{
      &:before{
        background: url('../img/bg3.png');
      }
    }
    .fr-adv{
      &:before{
        background: url('../img/bg4.png');
      }
    }
  }
  .swiper-pagination-adv{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    .swiper-pagination-bullet{
      background: var(--black-text);
      opacity: 1;
    }
    .swiper-pagination-bullet-active{
      background: var(--blue-color);
    }
  }
}

.block-questions{
  margin-bottom: 0;
  .heading{
    &:before{
      content: '04';
    }
  }
}

.partners-contact{
  padding-top: 35px;
}

.our-partners{
  margin-bottom: 100px;
  .container{
    padding-right: 0;
  }
  .heading{
    &:before{
      content: '05';
    }
  }
  p{
    text-align: center;
    margin-bottom: 50px;
  }
  .slider-clients{
    a{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 7px;
      max-width: 90px;
      width: 100%;
      max-height: 45px;
      line-height: 45px;
      position: relative;
      height: 45px;
      img{
        filter: grayscale(100%) opacity(70%) brightness(100%);
        -webkit-filter: grayscale(100%) opacity(70%) brightness(100%);
        object-fit: contain;
        max-height: 100%;
      }
      &:hover{
        img{
          filter: none;
        }
      }
    }
  }
  .slider-but{
    display: none;
  }
}

.our-office{
  .heading{
    &:before{
      content: '06';
    }
  }
  .d3button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;
    max-width: 300px;
    margin-bottom: 75px;
    margin: 0 auto;
  }
  .map-with-pop-up{
    .map{
      width: 100%;
      height: 627px;
    }
    .pop-up-map{
      display: none;
    }
  }
}

.second-section{
  margin-bottom: 70px;
}
.all-napravlenia{
  .all-title-nap{
    display: none;
  }
  .title-napr{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 294px;
    height: 74px;
    border-radius: 37px;
    border: 1px solid #231f20;
    margin: 0 auto;
    cursor: pointer;
    max-width: 290px;
    width: 100%;
    padding: 5px 40px;
    img{
      margin-right: 30px;
    }
    h5{
      font-size: 14px;
      font-weight: 300;
      span{
        font-weight: 700;
      }
    }
    &:hover{
      h5{
        color: var(--blue-color);
        span{
          color: var(--blue-color);
        }
      }
    }
  }
  .act-title-napr{
    box-shadow: inset 0 0 20px rgba(35, 31, 32, 0.2);
    background-color: var(--blue-color);
    border-color: var(--blue-color);
    h5{
      color: #fff;
      span{
        color: #fff;
      }
    }
    &:hover{
      h5{
        color: #fff;
        span{
          color: #fff;
        }
      }
    }
  }
  .one-napr{
    margin-bottom: 20px;
    .swiper-slide{
      max-width: 275px;
      width: 100%;
      margin-bottom: 40px;
      @media (min-width: 425px){
        margin: 0 auto 15px;
      }
      @media (min-width: 570px){
        margin: 0 2px 15px;
      }
      img{
        max-width: 190px;
        margin-bottom: 20px;
      }
      a{
        font-size: 14px;
        font-weight: 700;
        text-decoration: underline;
        display: inline-block;
        cursor: pointer;
        height: 30px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        &:hover{
          color: var(--blue-color);
        }
      }
      p{
        font-size: 14px;
        margin: 40px 0 30px;
        height: 70px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      span{
        color: #908f91;
        cursor: pointer;
        i{
          margin-left: 6px;
          font-size: 10px;
          color: #908f91;
        }
        &:hover{
          color: var(--blue-color);
          i{
            color: var(--blue-color);
          }
        }
      }
    }
    .slick-dots{
      display: flex;
      align-items: center;
      justify-content: center;
      li{
        font-size: 0;
        width: 10px;
        height: 10px;
        margin: 0 6px;
        button{
          width: 10px;
          height: 10px;
          background: var(--blue-color);
          border-radius: 50%;
          border: none;
        }
      }
      .slick-active{
        button{
          background: var(--black-text);
        }
      }
    }
  }
  .slider-napr{
    padding: 20px 20px 40px;
    border: 3px solid #00aedb;
    background-color: #f5f2f0;
    position: relative;
    margin-top: 30px;
    border-radius: 26px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    transform: scale(0);
    height: 0;
    display: none;
    &:before{
      content: '';
      left: 0;
      right: 0;
      top: -28px;
      margin: auto;
      width: 80px;
      height: 30px;
      background: url('../img/volna.png') no-repeat 50% 50%;
      background-size: contain;
      position: absolute;
    }
  }
  .active-napr{
    transform: scale(1) translate(0, 0);
    height: auto;
    padding: 20px 10px 50px 15px;
    display: flex;
    .title-napr{
      margin-bottom: 15px;
    }
  }
}

@media (min-width: 375px){
  .top-banner{
    &:before{
      max-height: 460px;
    }
  }
}


@media (min-width: 425px){
  .top-banner{
    .content-banner{
      .often-order{
        justify-content: space-around;
      }
    }
  }
  
}

@media (min-width: 575px){
  .top-banner{
    &:before{
      max-height: 425px;
    }
  }
}


@media (min-width: 768px){
  .our-partners{
    .slider-clients{
      max-width: 1030px;
      width: 100%;
      margin: 0 auto;
      a{
        height: 95px;
        line-height: 95px;
        max-height: 95px;
        max-width: 120px;
        margin: 0 15px;
      }
    }
  }
}


@media (min-width: 1024px){
  .top-banner{
    .content-banner{
      .often-order{
        justify-content: space-around;
        .one-order{
          width: 15%;
          position: relative;
          a{
            position: absolute;
            bottom: 0;
          }

        }
      }
    }
  }
  .our-office{
    .info-contacts{
      .one-info{
        width: 23%;
        position: relative;
      }
    }
  }
  .our-advantages{
    .slider-advantages{
      .one-advantage{
        min-height: 250px;
        &:nth-child(odd){
          margin-bottom: 35px;
        }
      }
      .swiper-pagination-adv{
        display: none;
      }
    }
  }
  .our-partners{
    .slider-clients{
      a{
        max-width: 150px;
        margin: 0 20px;
      }
    }
    .slider-but{
      display: none;
    }
  }
  .partners-contact{
    position: relative;
    &:before{
      content: '';
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      max-width: 898px;
      max-height: 910px;
      background: url('../img/office-left.png') no-repeat 0% 0%;
      background-size: contain;
      position: absolute;
    }
  }
}


@media (min-width: 1280px){
  main{
    padding-top: 0;
  }
  .top-banner{
    padding-top: 130px;
    &:before{
      background: url('../img/banner-desc.png') no-repeat 100%;
      max-height: 740px;
      max-width: 1285px;
      top: 0;
      right: 0;
    }
    .content-banner{
      .text-with-button{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-bottom: 0;
        margin-bottom: 90px;
        p{
          margin-right: 100px;
          margin-bottom: 0;
        }
      }
      h1{
        margin-bottom: 50px;
      }
      h2{
        text-align: left;
        margin-bottom: 50px;
      }
      .often-order{
        justify-content: flex-start;
        .one-order{
          max-width: 150px;
          &:not(:last-of-type){
            margin-right: 25px;
          }
          h5{
            font-size: 16px;
          }
        }
      }
    }
  }
  .all-adv{
    position: relative;
    &:before, &:after{
      content: '';
      position: absolute;
      background-size: contain;
      margin: auto;
      z-index: 0;
    }
    &:before{
      left: 3%;
      background: url('../img/element-adv.png') no-repeat;
      background-size: contain;
      width: 194px;
      height: 432px;
      bottom: 0;
    }
    &:after{
      background: url('../img/element-right.png') no-repeat;
      background-size: contain;
      height: 100%;
      right: 1%;
      top: 0;
      max-width: 579px;
      width: 100%;
    }
  }
  .our-partners{
    .slider-clients{
      a{
        max-width: 178px;
        margin: 0 31px;
      }
    }
    .slider-with-arrow{
      position: relative;
      overflow-x: hidden;
      cursor: pointer;
      .slider-but{
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 40px;
        height: 40px;
        display: block;
        z-index: 10;
        &:hover{
          i{
            color: var(--blue-color);
            transform: scale(1.2);
          }
        }
        i{
          font-size: 30px;
          color: var(--black-text);
        }
      }
      .prev-client{
        left: 7px;
        transform: rotate(180deg);
        margin-top: 12px;
      }
      .next-client{
        right: 0px;
      }
    }
  }
  .our-office{
    .d3button{
      display: none;
    }
    .map-with-pop-up{
      position: relative;
      .pop-up-map{
        width: 545px;
        box-shadow: 0 6px 65px rgba(0, 0, 0, 0.18);
        background-color: #ffffff;
        padding: 35px 20px 50px;
        display: block;
        position: absolute;
        left: 50%;
        border-radius: 35px 0 0 0 ;
        bottom: 0;
        &:before{
          width: 5px;
          height: 120px;
          left: -5px;
          bottom: 0;
          content: '';
          position: absolute;
          background: var(--blue-color);
        }
        h4{
          margin-bottom: 25px;
          font-size: 24px;
          span{
            text-transform: uppercase;
            color: var(--blue-color);
          }
        }
        p{
          font-size: 18px;
          margin-bottom: 50px;
        }
        form{
          .two-part{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-bottom: 20px;
            div{
              max-width: 242px;
              width: 100%;
            }
            label{
              font-size: 14px;
              font-weight: 700;
              display: block;
              margin-bottom: 20px;
            }
            input{
              width: 242px;
              height: 52px;
              border-radius: 26px;
              border: 1px solid #908f91;
              padding: 15px 20px;
              margin-bottom: 35px;
            }
            .withput-margin{
              margin-bottom: 0;
            }
            textarea{
              width: 242px;
              height: 114px;
              border-radius: 27px;
              border: 1px solid #908f91;
              margin-bottom: 20px;
              padding: 20px;
            }
            .text-span{
              font-size: 14px;
              color: #908f91;
              margin-bottom: 75px;
              display: block;
            }
            .button-with-arrow{
              justify-content: flex-end;
              max-width: 190px;
              height: auto;
              button{
                padding: 17px 15px;
                height: auto;
                border-radius: 26px;
              }
              input{
                padding: 17px 15px;
                height: auto;
                border-radius: 26px;
                margin-bottom: 0;
              }
              span{
                width: 44px;
                min-width: 44px;
                height: 44px;
              }
            }
          }
          .block-checkbox{
            position: relative;
            text-align: center;
            label{
              font-size: 14px;
              font-weight: 700;
              position: relative;
              padding-left: 10px;
              span{
                color: var(--blue-color);
                text-decoration: underline;
                cursor: pointer;
              }
            }
            .wpcf7-list-item{
              width: 12px;
              height: 12px;
              position: relative;
              border: 1px solid #5D6989;
              box-shadow: 0px 0px 1px 2px #fff inset;
              border-radius: 50%;
              cursor: pointer;
              &:before{
                content: '';
                width: 6px;
                height: 6px;
                opacity: 0;
                transition: 0.2s;
                border-radius: 50%;
                background: var(--blue-color);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
              }
              input{
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
              }
            }
            .checked-w3{
              &:before{
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }

  .all-napravlenia{
    .all-title-nap{
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      border: 1px solid #231f20;
      border-radius: 37px;
    }
    .title-napr{
      border: none;
      border-radius: 37px;
      width: 25%;
      margin: 0;
      padding: 10px 20px 10px 40px;
      margin: -1px;

    }
    .one-napr{
      .title-napr{
        display: none;
      }
      .swiper-slide{
        margin-bottom: 50px;
      }
    }
    .first-napr-slider{
      &:before{
        right: 75%;
      }
    }
    .second-napr-slider{
      &:before{
        right: 25%;
      }
    }
    .third-napr-slider{
      &:before{
        left: 25%;
      }
    }
    .four-napr-slider{
      &:before{
        left: 75%;
      }
    }
  }
}

@media (min-width: 1400px) {
  .top-banner{
    padding-top: 110px;
    &:after{
      content: '';
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url('../img/line_pattern.png') no-repeat 0% 0%;
      background-size: contain;
      max-width: 1180px;
      max-height: 1067px;
      z-index: 0;
      position: absolute;
    }
    .content-banner{
      padding-top: 65px;
      z-index: 1;
      position: relative;
      h1{
        margin-bottom: 40px;
        font-size: 35px;
        max-width: 690px;
        line-height: 41px;
      }
      h2{
        font-size: 35px;
      }
      .often-order{
        .one-order{
          max-width: 170px;
        }
      }
    }
  }
  .our-office{
    .map-with-pop-up{
      .pop-up-map{
        left: 53%;
      }
    }
  }
}

@media (min-width: 1600px) {
  .top-banner{
    .content-banner{
      .often-order{
        .one-order{
          max-width: 205px;
          &:not(:last-of-type){
            margin-right: 30px;
          }
          h5{
            min-height: 54px;
          }
        }
      }
    }
  }
  .our-partners{
    .slider-with-arrow{
      .prev-client{
        left: 30px;
      }
      .next-client{
        right: 30px;
      }
    }
  }

  .partners-contact{
    &:after{
      content: '';
      position: absolute;
      right: 0;
      top: 20%;
      background: url('../img/right-office.png') no-repeat 50% 50%;
      background-size: contain;
      width: 554px;
      height: 430px;
      z-index: 0;
    }
  }
  .our-office{
    .map-with-pop-up{
      .pop-up-map{
        left: 55%;
      }
    }
  }
}


@media (min-width: 1700px) {
  .top-banner{
    .content-banner{
      .often-order{
        .one-order{
          max-width: 230px;
          &:nth-child(3){
            max-width: 200px;
          }
          &:not(:last-of-type){
            margin-right: 20px;
          }
          h5{
            font-size: 18px;
          }
        }
      }
    }
  }
}


@media (min-width: 1800px) {
  .top-banner{
    .content-banner{
      .often-order{
        .one-order{
          &:not(:last-of-type){
            margin-right: 35px;
          }
        }
      }
    }
  }
  .our-office{
    .map-with-pop-up{
      .pop-up-map{
        left: 57%;
      }
    }
  }
}

@media (min-width: 1900px) {
  .top-banner{
    .content-banner{
      .often-order{
        .one-order{
          &:not(:last-of-type){
            margin-right: 40px;
          }
        }
      }
    }
  }
}
