.search-input-block{
  position: relative;
  margin-bottom: 35px;
  position: relative;
  z-index: 2;
  input{
    width: 100%;
    height: 50px;
    padding: 20px 50px 20px 20px;
    border-radius: 25px;
    background-color: #f5f2f0;
    font-weight: 600;
    border: none;
    &::placeholder{
      font-weight: 600;
      color: #908f91;
    }
  }
  button{
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}
.one-result{
  padding-bottom: 30px;
  margin-bottom: 35px;
  border-bottom: 1px solid #231f20;
  &:last-of-type{
    margin-bottom: 0;
  }
  .title{
    font-weight: 700;
    font-size: 18px;
    display: block;
    margin-bottom: 25px;
    &:hover{
      color: var(--blue-color);
    }
  }
  .crumbs{
    margin-bottom: 20px;
    padding: 0;
  }
  p{
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  .all-search{
    position: relative;
    &:before, &:after{
      content: '';
      position: absolute;
      z-index: 0;
      background: url('../img/company1.png') no-repeat;
      width: 512px;
      height: 432px;
    }
    &:before{
      top: 2%;
      right: 1%;
    }
    &:after{
      bottom: 2%;
      top: 2%;
      margin: auto;
      left: 1%;
    }
  }
  .one-result{
    position: relative;
    z-index: 2;
  }
}