<div class="block-questions">
  <div class="container">
    <div class="heading">
      <h2>Остались<span> вопросы?</span></h2>
    </div>
    <div class="content-questions">
      <div class="left-part">
        <p>Оперативно проконсультируем Вас и подготовим коммерческое предложение.</p>
        <h4>Вы так же можете произвести расчет стоимости услуг и получить <a href="">Коммерческое предложение</a> на нашем сайте</h4>
        <a href="cost-of-work.html" class="button-with-arrow arrow-right">
          <span>
            <img src="img/arrow.png" alt="">
          </span>
          <button>Калькулятор</button>
        </a>
      </div>
      <div class="right-part">
        <h3>Получить<span> консультацию</span></h3>
        <p>Позвоните нам по <span>тел. <a href="tal:+7 495 970-00-01">+7 495 970-00-01</a></span>
        или закажите бесплатную консультацию</p>
        <div class="but-p">
          <button class="d3button  open-consult"><span>Консультация</span><i class="icon-message-icon"></i></button>
          <p>Мы свяжемся с вами сразу после получения вашей заявки</p>
        </div>
      </div>
    </div>
  </div>
</div>