<footer class="footer">
  <div class="container">
    <div class="content-footer">
      <div class="logotip">
        <h6>Мы знаем о кадастре всё!</h6>
        <a href="index.html" class="logo">
          <img src="img/logo.png" alt="">
        </a>

      </div>
      <div class="all-right-part">
        <div class="top-menu">
          <div class="one-part location-part">
            <div class="location-head with-pin">
              <img src="img/map_icon.png" alt="">
              <p>г. Москва, пр-т Волгоградский,
                д. 43 корп. 3, офис № 16</p>
            </div>
          </div>
          <div class="one-part email-phone-head">
            <div class="email-head with-pin">
              <img src="img/mail_icon.png" alt="">
              <a href="mailto:'zaproskp@1k-k.ru'">zaproskp@1k-k.ru</a>
            </div>
            <div class="phone-head with-pin">
              <img src="img/phone_icon.png" alt="">
              <a href="tel:+7 495 970-00-01">+7 495 970-00-01</a>
            </div>
          </div>
          <div class="button-search-head">
            <div class="button-with-arrow open-call">
              <span>
                <img src="img/arrow.png" alt="">
              </span>
              <button>Заказать звонок</button>
            </div>
            <div class="div-soc-search">
              <div class="search-block">
                <img src="img/search_icon.png" alt="">
                <input type="text" placeholder="Поиск" id="search-input" readonly>
              </div>
              <div class="social-head">
                <div class="top-social">
                  <i class="icon-social-network-all-icon"></i>
                  <p>Мы в соцсетях</p>
                </div>
                <!-- добавлять класс open-social -->
                <div class="hidden-social">
                  <a href="#">
                    <i class="icon-fb-icon"></i>
                  </a>
                  <a href="#">
                    <i class="icon-vk-icon"></i>
                  </a>
                  <a href="#">
                    <i class="icon-insta"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <nav>
          <ul>
            <li><a href="about-company.html">О нас</a></li>
            <li><a href="">Работы</a></li>
            <li><a href="cost-of-work.html">Стоимость</a></li>
            <li><a href="news.html">Новости</a></li>
            <li><a href="">Аналитика</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="bot-footer">
      <p>© Использование материалов сайта 1k-k.ru разрешается только при ссылке на источник | 1997–2020</p>
      <p>Разработано в <a href="">“Студия Племя”</a></p>
    </div>
  </div>
</footer>