<header class="header">
  <div class="container">
    <div class="all-head">
      <div class="logotip">
        <h6>Мы знаем о кадастре всё!</h6>
        <a href="index.html" class="logo">
          <img src="img/logo.png" alt="">
        </a>

      </div>
      <div class="all-right-part">
        <div class="top-menu">
          <div class="one-part location-part">
            <div class="location-head with-pin">
              <img src="img/map_icon.png" alt="">
              <p>г. Москва, пр-т Волгоградский,
                д. 43 корп. 3, офис № 16</p>
            </div>
          </div>
          <div class="one-part email-phone-head">
            <div class="email-head with-pin">
              <img src="img/mail_icon.png" alt="">
              <a href="mailto:'zaproskp@1k-k.ru'">zaproskp@1k-k.ru</a>
            </div>
            <div class="phone-head with-pin">
              <img src="img/phone_icon.png" alt="">
              <a href="tel:+7 495 970-00-01">+7 495 970-00-01</a>
            </div>
          </div>
          <div class="button-search-head">
            <div class="button-with-arrow open-call">
              <span>
                <img src="img/arrow.png" alt="">
              </span>
              <button>Заказать звонок</button>
            </div>
            <div class="search-block">
              <img src="img/search_icon.png" alt="">
              <input type="text" placeholder="Поиск" id="search-input" readonly>
            </div>
            <!-- добавлять класс open-burg-menu -->
            <div class="burg-menu">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="social-head">
              <div class="top-social">
                <i class="icon-social-network-all-icon"></i>
                <p>Мы в соцсетях</p>
              </div>
              <!-- добавлять класс open-social -->
              <div class="hidden-social">
                <a href="#">
                  <i class="icon-fb-icon"></i>
                </a>
                <a href="#">
                  <i class="icon-vk-icon"></i>
                </a>
                <a href="#">
                  <i class="icon-insta"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <nav>
          <ul>
            <li><a href="javascript:void(0)">О нас</a>
                <div class="hidden-list hid-comp">
                  <ol class="click-ol">
                    <li><a href="about-company.html#tab1" data-dataCompany='tab1'>История</a></li>
                    <li><a href="about-company.html#tab2" data-datacompany='tab2'>Наша команда</a></li>
                    <li><a href="about-company.html#tab3" data-datacompany='tab3' >Отзывы</a></li>
                    <li><a href="about-company.html#tab4" data-datacompany='tab3' >Вакансии</a></li>
                    <li><a href="about-company.html#tab5" data-datacompany='tab5' >Свидетельства, Аттестаты, СРО</a></li>
                    <li><a href="about-company.html#tab6" data-datacompany='tab6' >Реквизиты</a></li>
                    <li><a href="about-company.html#tab7" data-datacompany='tab7' >Партнеры и заказчики</a></li>
                  </ol>
                </div>
            </li>
            <li><a href="cadastr-work.html">Работы</a>
              <div class="hidden-list cadastr-hid">
                <div class="tabs-cadastr-head">
                  <h5 data-cadHead="cadastr1" class="activ-cadHead"><span>Земельные участки</span></h5>
                  <h5 data-cadHead="cadastr2"><span>Объекты капитального
                    строительства</span> и машино места</h5>
                  <h5 data-cadHead="cadastr3"><span>Проектирование</span></h5>
                  <h5 data-cadHead="cadastr4"><span>Юридические услуги</span></h5>
                </div>
                <div class="cadastr1 block-cad">
                  <ol>
                    <li><a href="">Уточнение границ</a></li>
                    <li><a href="">Перераспределение участков</a></li>
                    <li><a href="">Геодезические работы <i class="icon-plus"></i></a></li>
                  </ol>
                  <ol>
                    <li><a href="">Образование участка</a></li>
                    <li><a href="">Исправление реестровой ошибки</a></li>
                    <li><a href="">Межевание участка под многоквартирным домом</a></li>
                  </ol>
                  <ol>
                    <li><a href="">Раздел участка</a></li>
                    <li><a href="">Заключение кадастрового инженера</a></li>
                    <li><a href="">Установление охранных зон и сервитутов</a></li>
                  </ol>
                  <ol>
                    <li><a href="">Объединение участков</a></li>
                    <li><a href="">Схема расположения земельного участка</a></li>
                  </ol>
                </div>
                
              </div>
            </li>
            <li><a href="cost-of-work.html">Стоимость</a></li>
            <li><a href="news.html">Новости</a></li>
            <li><a href="javascript:void(0)" class="click">Аналитика</a>
              <div class="hidden-list share-hid">
                <ol>
                  <li><a href="FAQ.html">Вопрос - ответ</a></li>
                  <li><a href="registry-failures.html">Приостановление и отказ Росреестра</a></li>
                </ol>
              </div></li>
            <li><a href="contact.html">Контакты</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>