<div class="back-dark"></div>

<div class="pop-up politic-pop ">
  <h4>Политика конфиденциальности</h4>
  <div class="content-pop">
    <div class="close-pop">
      <i class="icon-plus"></i>
    </div>
    <h5>1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ</h5>
    <ul>
      <li>1.1 В настоящей Политике конфиденциальности используются следующие термины:</li>
      <li>1.1.1. «Администрация сайта» – уполномоченные сотрудники на управления сайтом, действующие от его имени, которые организуют и (или) осуществляет обработку персональных данных, а также определяет цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.</li>
      <li>1.1.2. «Персональные данные» - любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).</li>
      <li>1.1.3. «Обработка персональных данных» - любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.</li>
      <li>1.1.4. «Конфиденциальность персональных данных» - обязательное для соблюдения Администрацией сайта требование не допускать их умышленного распространения без согласия субъекта персональных данных или наличия иного законного основания.</li>
      <li>1.1.5. «Пользователь сайта (далее Пользователь)» – лицо, имеющее доступ к сайту, посредством сети Интернет и использующее данный сайт для своих целей.</li>
      <li>1.1.6. «Cookies» — небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере пользователя, который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть страницу соответствующего сайта.</li>
      <li> 1.1.7. «IP-адрес» — уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.</li>
    </ul>
    <h5>2. ОБЩИЕ ПОЛОЖЕНИЯ</h5>
    <ul>
      <li>2.1. Использование Пользователем сайта означает согласие с настоящей Политикой конфиденциальности и условиями обработки персональных данных Пользователя.</li>
      <li>2.2. В случае несогласия с условиями Политики конфиденциальности Пользователь должен прекратить использование сайта.</li>
      <li>2.3.Настоящая Политика конфиденциальности применяется только к данному сайту. Администрация сайта не контролирует и не несет ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на данном сайте.</li>
      <li>2.4. Администрация сайта не проверяет достоверность персональных данных, предоставляемых Пользователем сайта.</li>
    </ul>
    <h5>3. ПРЕДМЕТ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ</h5>
    <ul>
      <li>3.1. Настоящая Политика конфиденциальности устанавливает обязательства Администрации сайта по умышленному неразглашению персональных данных, которые Пользователь предоставляет по разнообразным запросам Администрации сайта (например, при регистрации на сайте, оформлении заказа, подписки на уведомления и т.п).</li>
      <li>3.2. Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности, предоставляются Пользователем путём заполнения специальных форм на Сайте и обычно включают в себя следующую информацию:</li>
      <li>3.2.1. фамилию, имя, отчество Пользователя;</li>
      <li>3.2.2. контактный телефон Пользователя;</li>
      <li>3.2.3. адрес электронной почты (e-mail);</li>
      <li>3.2.4. место жительство Пользователя и другие данные.</li>
      <li>3.3. Администрация сайта также принимает усилия по защите Персональных данных, которые автоматически передаются в процессе посещения страниц сайта:
        IP адрес;</li>
      <li>информация из cookies;</li>
      <li>информация о браузере (или иной программе, которая осуществляет доступ к сайту);</li>
      <li>время доступа;</li>
      <li>посещенные адреса страниц;</li>
      <li>реферер (адрес предыдущей страницы) и т.п.</li>
      <li>3.3.1. Отключение cookies может повлечь невозможность доступа к сайту.</li>
      <li>3.3.2. Сайт осуществляет сбор статистики об IP-адресах своих посетителей. Данная информация используется с целью выявления и решения технических проблем, для контроля корректности проводимых операций.</li>
      <li>3.4. Любая иная персональная информация неоговоренная выше (история покупок, используемые браузеры и операционные системы и т.д.) не подлежит умышленному разглашению, за исключением случаев, предусмотренных в п.п. 5.2. и 5.3. настоящей Политики конфиденциальности.</li>
    </ul>
    <h5>4. ЦЕЛИ СБОРА ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЯ</h5>
    <ul>
      <li>4.1. Персональные данные Пользователя Администрация сайта может использовать в целях:</li>
      <li>4.1.1. Идентификации Пользователя, зарегистрированного на сайте, для оформления заказа и (или) заключения Договора.</li>
      <li>4.1.2. Предоставления Пользователю доступа к персонализированным ресурсам сайта.</li>
      <li>4.1.3. Установления с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся использования сайта, оказания услуг, обработка запросов и заявок от Пользователя.</li>
      <li>4.1.4. Определения места нахождения Пользователя для обеспечения безопасности, предотвращения мошенничества.</li>
      <li>4.1.5. Подтверждения достоверности и полноты персональных данных, предоставленных Пользователем.</li>
      <li>4.1.6. Создания учетной записи для совершения покупок, если Пользователь дал согласие на создание учетной записи.</li>
      <li>4.1.7. Уведомления Пользователя сайта о состоянии Заказа.</li>
      <li>4.1.8. Обработки и получения платежей, подтверждения налога или налоговых льгот, оспаривания платежа, определения права на получение кредитной линии Пользователем.</li>
      <li>4.1.9. Предоставления Пользователю эффективной клиентской и технической поддержки при возникновении проблем связанных с использованием сайта.</li>
      <li>4.1.10. Предоставления Пользователю с его согласия, обновлений продукции, специальных предложений, информации о ценах, новостной рассылки и иных сведений от имени сайта или от имени партнеров сайта.</li>
      <li>4.1.11. Осуществления рекламной деятельности с согласия Пользователя.</li>
      <li>4.1.12. Предоставления доступа Пользователю на сторонние сайты или сервисы партнеров данного сайта с целью </li>
    </ul>
    <h5>5. СПОСОБЫ И СРОКИ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ</h5>
    <ul>
      <li>5.1. Обработка персональных данных Пользователя осуществляется без ограничения срока, любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств.</li>
      <li>5.2. Пользователь соглашается с тем, что Администрация сайта вправе передавать персональные данные третьим лицам, в частности, курьерским службам, организациями почтовой связи, операторам электросвязи, исключительно в целях выполнения заявок Пользователя, оформленных на сайте, в рамках Договора публичной оферты.</li>
      <li>5.3. Персональные данные Пользователя могут быть переданы уполномоченным органам государственной власти только по основаниям и в порядке, установленным действующим законодательством.</li>
    </ul>
    <h5>6. ОБЯЗАТЕЛЬСТВА СТОРОН</h5>
    <ul>
      <li>6.1. Пользователь обязуется:</li>
      <li>6.1.1. Предоставить корректную и правдивую информацию о персональных данных, необходимую для пользования сайтом.</li>
      <li>6.1.2. Обновить или дополнить предоставленную информацию о персональных данных в случае изменения данной информации.</li>
      <li>6.1.3. Принимать меры для защиты доступа к своим конфиденциальным данным, хранящимся на сайте.</li>
      <li>6.2. Администрация сайта обязуется:</li>
      <li>6.2.1. Использовать полученную информацию исключительно для целей, указанных в п. 4 настоящей Политики конфиденциальности.</li>
      <li>6.2.2. Не разглашать персональных данных Пользователя, за исключением п.п. 5.2. и 5.3. настоящей Политики Конфиденциальности.</li>
      <li>6.2.3. Осуществить блокирование персональных данных, относящихся к соответствующему Пользователю, с момента обращения или запроса Пользователя или его законного представителя либо уполномоченного органа по защите прав субъектов персональных данных на период проверки, в случае выявления недостоверных персональных данных или неправомерных действий.</li>
    </ul>
    <h5>7. ОТВЕТСТВЕННОСТЬ СТОРОН</h5>
    <ul>
      <li>7.1. Администрация сайта несёт ответственность за умышленное разглашение Персональных данных Пользователя в соответствии с действующим законодательством, за исключением случаев, предусмотренных п.п. 5.2., 5.3. и 7.2. настоящей Политики Конфиденциальности.</li>
      <li> 7.2. В случае утраты или разглашения Персональных данных Администрация сайта не несёт ответственность, если данная конфиденциальная информация:</li>
      <li>7.2.1. Стала публичным достоянием до её утраты или разглашения.</li>
      <li>7.2.2. Была получена от третьей стороны до момента её получения Администрацией сайта.</li>
      <li>7.2.3. Была получена третьими лицами путем несанкционированного доступа к файлам сайта.</li>
      <li>7.2.4. Была разглашена с согласия Пользователя.</li>
      <li>7.3. Пользователь несет ответственность за правомерность, корректность и правдивость предоставленной Персональных данных в соответствии с действующим законодательством.</li>
    </ul>
    <h5>8. РАЗРЕШЕНИЕ СПОРОВ</h5>
    <ul>
      <li>8.1. До обращения в суд с иском по спорам, возникающим из отношений между Пользователем сайта и Администрацией сайта, обязательным является предъявление претензии (письменного предложения о добровольном урегулировании спора).</li>
      <li>8.2 .Получатель претензии в течение 30 календарных дней со дня получения претензии, письменно уведомляет заявителя претензии о результатах рассмотрения претензии.</li>
      <li>8.3. При не достижении соглашения спор будет передан на рассмотрение в судебный орган в соответствии с действующим законодательством.</li>
      <li>8.4. К настоящей Политике конфиденциальности и отношениям между Пользователем и Администрацией сайта применяется действующее законодательство.</li>
    </ul>
    <h5>9. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ</h5>
    <ul>
      <li>9.1. Администрация сайта вправе вносить изменения в настоящую Политику конфиденциальности без согласия Пользователя.</li>
      <li>9.2. Новая Политика конфиденциальности вступает в силу с момента ее размещения на Сайте, если иное не предусмотрено новой редакцией Политики конфиденциальности.</li>
    </ul>
  </div>
</div>

<div class="pop-up video-pop">
  <div class="close-pop">
    <i class="icon-plus"></i>
  </div>
  <div class="content-pop">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/nboeJoTiM0w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<div class="pop-up call-pop">
  <div class="close-pop">
    <i class="icon-plus"></i>
  </div>
  <h3>Заказать <strong>Звонок</strong></h3>
  <div class="content-pop">
    <h6>Мы свяжемся с вами сразу после прочтения
      вашей заявки</h6>
      <form action="">
        <div class="two-part">
          <div class="left">
            <div class="inp-lab">
              <label for="org">Ваше имя</label>
              <input type="text" placeholder="Как к Вам обращаться?" required>
            </div>
            <div class="inp-lab">
              <label for="phone">Номер телефона</label>
              <input type="number" placeholder="В формате +7 (123) 456-78-91" required >
            </div>
          </div>
          <div class="right">
              <div class="inp-lab">
                <label for="org">Текст сообщения</label>
                <textarea type="text" placeholder="Напишите сообщение" required></textarea>
                <span>* - все поля формы
                  обязательны к заполнению</span>
              </div>
          </div>
        </div>
        <div class="button-with-arrow arrow-right open-thank">
          <span>
            <img src="img/arrow.png" alt="">
          </span>
          <button>Отправить</button>
        </div>
        <div class="block-checkbox">
          <input type="checkbox" name="check" id="check" checked>
          <label for="check">Согласен с <span class="open-politic">политикой конфиденциальности</span></label>
        </div>
      </form>
  </div>
</div>

<div class="pop-up consult-pop">
  <div class="close-pop">
    <i class="icon-plus"></i>
  </div>
  <h3>Получить <strong>консультацию</strong></h3>
  <div class="content-pop">
    <h6>Мы свяжемся с вами сразу после прочтения
      вашей заявки</h6>
      <form action="">
        <div class="two-part">
          <div class="left">
            <div class="inp-lab">
              <label for="org">Ваше имя</label>
              <input type="text" placeholder="Как к Вам обращаться?" required>
            </div>
            <div class="inp-lab">
              <label for="org">Адрес электронной почты</label>
              <input type="email" placeholder="Введите email" required>
            </div>
            <div class="inp-lab">
              <label for="phone">Номер телефона</label>
              <input type="number" placeholder="В формате +7 (123) 456-78-91" required >
            </div>
          </div>
          <div class="right right-consul">
              <div class="inp-lab">
                <label for="org">Текст сообщения</label>
                <textarea type="text" placeholder="Напишите сообщение" required></textarea>
                <span class="min">* - все поля формы
                  обязательны к заполнению</span>
              </div>
              <div class="button-with-arrow arrow-right open-thank">
                <span>
                  <img src="img/arrow.png" alt="">
                </span>
                <button>Отправить</button>
              </div>
          </div>
        </div>
        <div class="block-checkbox">
          <input type="checkbox" name="check" id="check" checked>
          <label for="check">Согласен с <span class="open-politic">политикой конфиденциальности</span></label>
        </div>
      </form>
  </div>
</div>

<div class="pop-up mail-pop">
  <div class="close-pop">
    <i class="icon-plus"></i>
  </div>
  <h3>Получить <strong>расчет</strong></h3>
  <div class="content-pop">
    <h6>Мы отправим вам рассчет в ближайшее время</h6>
      <form action="">
        <div class="two-part">
          <div class="left">
            <div class="inp-lab">
              <label for="org">Ваше имя</label>
              <input type="text" placeholder="Как к Вам обращаться?" required>
            </div>
            <div class="inp-lab">
              <label for="phone">Номер телефона</label>
              <input type="number" placeholder="В формате +7 (123) 456-78-91" required >
            </div>
          </div>
          <div class="right right-consul">
            <div class="inp-lab">
              <label for="org">Адрес электронной почты</label>
              <input type="email" placeholder="Введите email" required>
            </div>
          </div>
        </div>
        <div class="block-checkbox">
          <input type="checkbox" name="check" id="check" checked>
          <label for="check">Согласен с <span class="open-politic">политикой конфиденциальности</span></label>
        </div>
      </form>
  </div>
</div>

<div class="pop-up thank-pop ">
  <div class="close-pop">
    <i class="icon-plus"></i>
  </div>
  <div class="content-pop">
    <strong>Спасибо!</strong>
    <p>Мы свяжемся с Вами в ближайшее время</p>
  </div>
</div>

<div class="pop-up thank-review-pop ">
  <div class="close-pop">
    <i class="icon-plus"></i>
  </div>
  <div class="content-pop">
    <strong>Спасибо!</strong>
    <p>Ваш отзыв будет опубликован ближайшим временем</p>
  </div>
</div>

<div class="pop-search">
  <div class="container top-c">
    <input type="text" placeholder="Найти" value="Участ" class="open-heddin">
    <a class="button-with-arrow" href="result-search.html">
      <span>
        <img src="img/arrow.png" alt="">
      </span>
      <button>Найти</button>
    </a>
    <a href="javascript:void(0)" class="clear-input">
      <i class="icon-plus"></i>
    </a>
  </div>
  <div class="op-heddin">
    <div class="container">
      <ul>
        <li><a href="cadastr-work.html">Уточнение границ земельного участка</a></li>
        <li> <a href="cadastr-work.html">Образование земельного участка</a></li>
        <li><a href="cadastr-work.html">Раздел участков</a></li>
      </ul>
      <a class="button-with-arrow arrow-right" href="result-search.html">
        <span>
          <img src="img/arrow.png" alt="">
        </span>
        <button>Все результаты</button>
      </a>
    </div>
  </div>
</div>